/* --------------------------- GLOBAL STYLE ---------------------------- */
body{
    margin: 0;
    font-family: 'Anonymous Pro';
}
h1, h2, h3, h4{
    margin: 0;
    font-weight: lighter;
}
a {
    text-decoration: none;
}
ul {
    list-style-type: none;
}
.wrapper {
    margin: 0 3rem;
}
.transparent-input-field {
    width: 100%;
    outline: none;
    border: none;
    border-bottom: .1rem solid rgb(217, 236, 252);
    background-color: transparent;
    font-family: 'Anonymous Pro';
    border-radius: .2rem;
}
.btn-general{
    border: none;
    width: 7rem;
    height: 2rem;
    border-radius: .2rem;
    font-family: monospace;
    background-color: rgb(161, 218, 161);
}
.btn-general:hover {
    filter: drop-shadow(0 0 0.55rem rgb(155, 200, 155));
    cursor: pointer;
}

/* --------------------------- HIRE_US VIEWPORT ---------------------------- */

.hire-us-viewport {
    height: 90vh;
}

/* -------------------------xx HIRE_US VIEWPORT xx-------------------------- */

/* --------------------------- FOOTER VIEWPORT ---------------------------- */

footer {
    margin-top: 2rem;
    height: 60vh;
    background-color: hsl(240, 1%, 73%);
    padding: 3rem 0 0;
} 

.footer-container {
    display: flex;
    justify-content: space-between;
}

.contact-card {
    padding: 2rem;
    width: 40vw;
    background-color: aliceblue;
    border-radius: .5rem;
    border-top: .2rem solid rgb(161, 218, 161);
}

form input{
    margin: 1.4rem 0 .6rem 0;
}

form textarea {
    margin: 1rem 0 1.4rem 0;
}

.newsletter {
    float: right;
    margin-top: .5rem;
}

.newsletter-lbl {
    color: rgba(0,0,0,.7);
    font-weight: lighter;
    font-family: monospace;
}
  
.newsletter-toggle {
    margin: 0;
    vertical-align: bottom;
    position: relative;
    top: -1px;
}

.social-footer {
    margin-top: 2rem;
    color: aliceblue;
}

footer nav ul {
    margin-top: 1.1rem;
    margin-left: 0;
    display: flex;
}

footer nav ul li {
    margin-left: .4rem;
    transition: all;
    transition-duration: 500ms;
}
footer nav ul li:first-child {
    margin-left: 0;
}
footer nav ul li a {
    padding: .4rem 1.2rem;
    color: #fff;
    font-family: "Anonymous Pro", serif;  
}
footer nav ul li:hover {
    transform: scale(.9);
}
footer nav ul li a:hover {
    background-color: rgb(100, 100, 100);
}
.fst-chld {
    background-color: rgb(33, 218, 88);
}
.scnd-chld {
    background-color: rgb(17, 181, 202);
}
.thrd-chld {
    background-color: rgb(90, 90, 90);
}
footer nav ul li a span {
    padding-left: .2rem;
    font-size: .8rem;
}
/* ---------------------------X FOOTER VIEWPORT X-------------------------- */
